USE [BD_GestionDeCambios]
GO
/****** Object:  Table [dbo].[tbCiclos]    Script Date: 10/06/2025 06:18:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbCiclos](
	[codCiclo] [nvarchar](20) NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[orden] [int] NULL,
	[idMetodologia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[codCiclo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbDocumentos]    Script Date: 10/06/2025 06:18:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbDocumentos](
	[idDocumento] [int] IDENTITY(1,1) NOT NULL,
	[idTipoDocumento] [int] NULL,
	[nombreArchivo] [nvarchar](50) NULL,
	[rutaArchivo] [nvarchar](150) NULL,
	[version] [nvarchar](10) NULL,
	[estado] [nvarchar](20) NULL,
	[fechaSubida] [datetime] NULL,
	[codCiclo] [nvarchar](20) NULL,
	[idProyecto] [int] NULL,
	[comentarios] [nvarchar](max) NULL,
	[idUsuarioSubida] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbElementos]    Script Date: 10/06/2025 06:18:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbElementos](
	[idElemento] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NULL,
	[descripcion] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[idElemento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbMetodologias]    Script Date: 10/06/2025 06:18:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbMetodologias](
	[idMetodologia] [int] NOT NULL,
	[nombre] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[idMetodologia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbProyectoCiclo]    Script Date: 10/06/2025 06:18:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbProyectoCiclo](
	[idProyectoCiclo] [int] IDENTITY(1,1) NOT NULL,
	[idProyecto] [int] NULL,
	[codCiclo] [nvarchar](20) NULL,
	[inicioCiclo] [date] NULL,
	[finCiclo] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[idProyectoCiclo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbProyectoElemento]    Script Date: 10/06/2025 06:18:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbProyectoElemento](
	[idProyectoElemento] [int] IDENTITY(1,1) NOT NULL,
	[idProyecto] [int] NULL,
	[idElemento] [int] NULL,
	[fechaInicio] [date] NULL,
	[fechaFin] [date] NULL,
	[idRol] [int] NULL,
	[estado] [nvarchar](20) NULL,
	[codCiclo] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[idProyectoElemento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbProyectos]    Script Date: 10/06/2025 06:18:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbProyectos](
	[idProyecto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NULL,
	[fechaInicio] [date] NOT NULL,
	[fechaFin] [date] NULL,
	[idUsuarioCreador] [int] NOT NULL,
	[idMetodologia] [int] NOT NULL,
	[codCicloActual] [nvarchar](20) NULL,
	[estado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idProyecto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbProyectoUsuario]    Script Date: 10/06/2025 06:18:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbProyectoUsuario](
	[idProyectoUsuario] [int] IDENTITY(1,1) NOT NULL,
	[idProyecto] [int] NULL,
	[idUsuario] [int] NULL,
	[idRol] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idProyectoUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbRoles]    Script Date: 10/06/2025 06:18:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbRoles](
	[idRol] [int] NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[idMetodologia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbSolicitudesCambio]    Script Date: 10/06/2025 06:18:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbSolicitudesCambio](
	[idSolicitudCambio] [int] IDENTITY(1,1) NOT NULL,
	[codigoDocumentoSolicitd] [nvarchar](30) NOT NULL,
	[fechaSolicitud] [date] NULL,
	[idProyecto] [int] NOT NULL,
	[idUsuarioSolicitante] [int] NOT NULL,
	[objetivoSolicitud] [nvarchar](max) NOT NULL,
	[descripcionSolicitud] [nvarchar](max) NOT NULL,
	[idElementoAfectado] [int] NULL,
	[impactoEstimado] [nvarchar](max) NOT NULL,
	[esfuerzoEstimado] [nvarchar](max) NOT NULL,
	[idUsuarioReceptor] [int] NULL,
	[fechaRecibida] [date] NULL,
	[pasoActualProceso] [int] NOT NULL,
	[fechaInicioImplementacionCambio] [date] NULL,
	[fechaCierreDelCambio] [date] NULL,
	[observaciones] [nvarchar](max) NULL,
	[estadoSolicitud] [nvarchar](20) NOT NULL,
	[fechaEstado] [datetime] NULL,
	[GiroJefeProyectoFecha] [datetime] NULL,
	[ModificacionVersionFecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idSolicitudCambio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbTareas]    Script Date: 10/06/2025 06:18:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbTareas](
	[idTareas] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NULL,
	[idProyectoElemento] [int] NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[descripcion] [nvarchar](max) NULL,
	[estado] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[idTareas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbTiposDocumento]    Script Date: 10/06/2025 06:18:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbTiposDocumento](
	[idTipoDocumento] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[clave] [nvarchar](20) NULL,
	[codCiclo] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[idTipoDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbUsuarios]    Script Date: 10/06/2025 06:18:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbUsuarios](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[usuario] [nvarchar](50) NOT NULL,
	[contrasena] [nvarchar](50) NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[apellido] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[fechaCreacion] [date] NULL,
	[estado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbCiclos] ([codCiclo], [nombre], [orden], [idMetodologia]) VALUES (N'Fase1', N'Inicio', 1, 1)
INSERT [dbo].[tbCiclos] ([codCiclo], [nombre], [orden], [idMetodologia]) VALUES (N'Fase2', N'Elaboracion', 2, 1)
INSERT [dbo].[tbCiclos] ([codCiclo], [nombre], [orden], [idMetodologia]) VALUES (N'Fase3', N'Construcción', 3, 1)
GO
SET IDENTITY_INSERT [dbo].[tbElementos] ON 

INSERT [dbo].[tbElementos] ([idElemento], [nombre], [descripcion]) VALUES (1, N'Documento de visión del sistema', NULL)
INSERT [dbo].[tbElementos] ([idElemento], [nombre], [descripcion]) VALUES (2, N'Acta de constitución del proyecto', NULL)
INSERT [dbo].[tbElementos] ([idElemento], [nombre], [descripcion]) VALUES (3, N'Identificación de interesados clave', NULL)
SET IDENTITY_INSERT [dbo].[tbElementos] OFF
GO
INSERT [dbo].[tbMetodologias] ([idMetodologia], [nombre]) VALUES (1, N'Rup')
INSERT [dbo].[tbMetodologias] ([idMetodologia], [nombre]) VALUES (2, N'Scrum')
INSERT [dbo].[tbMetodologias] ([idMetodologia], [nombre]) VALUES (3, N'Xp')
GO
SET IDENTITY_INSERT [dbo].[tbProyectoCiclo] ON 

INSERT [dbo].[tbProyectoCiclo] ([idProyectoCiclo], [idProyecto], [codCiclo], [inicioCiclo], [finCiclo]) VALUES (38, 50, N'Fase1', CAST(N'2025-06-02' AS Date), CAST(N'2025-07-09' AS Date))
INSERT [dbo].[tbProyectoCiclo] ([idProyectoCiclo], [idProyecto], [codCiclo], [inicioCiclo], [finCiclo]) VALUES (39, 50, N'Fase2', CAST(N'2025-07-09' AS Date), CAST(N'2025-08-16' AS Date))
INSERT [dbo].[tbProyectoCiclo] ([idProyectoCiclo], [idProyecto], [codCiclo], [inicioCiclo], [finCiclo]) VALUES (40, 50, N'Fase3', CAST(N'2025-08-16' AS Date), CAST(N'2025-09-05' AS Date))
SET IDENTITY_INSERT [dbo].[tbProyectoCiclo] OFF
GO
SET IDENTITY_INSERT [dbo].[tbProyectoElemento] ON 

INSERT [dbo].[tbProyectoElemento] ([idProyectoElemento], [idProyecto], [idElemento], [fechaInicio], [fechaFin], [idRol], [estado], [codCiclo]) VALUES (47, 50, 2, CAST(N'2025-06-02' AS Date), CAST(N'2025-06-18' AS Date), 2, N'Finalizado', N'Fase1')
INSERT [dbo].[tbProyectoElemento] ([idProyectoElemento], [idProyecto], [idElemento], [fechaInicio], [fechaFin], [idRol], [estado], [codCiclo]) VALUES (48, 50, 5, CAST(N'2025-06-10' AS Date), CAST(N'2025-06-30' AS Date), 2, N'Pendiente', N'Fase1')
INSERT [dbo].[tbProyectoElemento] ([idProyectoElemento], [idProyecto], [idElemento], [fechaInicio], [fechaFin], [idRol], [estado], [codCiclo]) VALUES (49, 50, 14, CAST(N'2025-07-10' AS Date), CAST(N'2025-07-17' AS Date), 3, N'Pendiente', N'Fase2')
SET IDENTITY_INSERT [dbo].[tbProyectoElemento] OFF
GO
SET IDENTITY_INSERT [dbo].[tbProyectos] ON 

INSERT [dbo].[tbProyectos] ([idProyecto], [nombre], [fechaInicio], [fechaFin], [idUsuarioCreador], [idMetodologia], [codCicloActual], [estado]) VALUES (50, N'Proyecto Chino', CAST(N'2025-06-02' AS Date), CAST(N'2025-10-31' AS Date), 1, 1, N'Fase1', 1)
INSERT [dbo].[tbProyectos] ([idProyecto], [nombre], [fechaInicio], [fechaFin], [idUsuarioCreador], [idMetodologia], [codCicloActual], [estado]) VALUES (51, N'Sistema UPT', CAST(N'2025-06-02' AS Date), CAST(N'2025-08-28' AS Date), 1, 1, N'Fase1', 1)
INSERT [dbo].[tbProyectos] ([idProyecto], [nombre], [fechaInicio], [fechaFin], [idUsuarioCreador], [idMetodologia], [codCicloActual], [estado]) VALUES (52, N'Sistema UPT BIBLIOTECA', CAST(N'2025-06-02' AS Date), CAST(N'2025-10-16' AS Date), 1, 1, N'Fase1', 1)
SET IDENTITY_INSERT [dbo].[tbProyectos] OFF
GO
SET IDENTITY_INSERT [dbo].[tbProyectoUsuario] ON 

INSERT [dbo].[tbProyectoUsuario] ([idProyectoUsuario], [idProyecto], [idUsuario], [idRol]) VALUES (8, 50, 1, 31)
INSERT [dbo].[tbProyectoUsuario] ([idProyectoUsuario], [idProyecto], [idUsuario], [idRol]) VALUES (9, 50, 2, 2)
INSERT [dbo].[tbProyectoUsuario] ([idProyectoUsuario], [idProyecto], [idUsuario], [idRol]) VALUES (10, 50, 4, 2)
SET IDENTITY_INSERT [dbo].[tbProyectoUsuario] OFF
GO
INSERT [dbo].[tbRoles] ([idRol], [nombre], [idMetodologia]) VALUES (1, N'Lider de Proyecto', 1)
INSERT [dbo].[tbRoles] ([idRol], [nombre], [idMetodologia]) VALUES (2, N'Arquitecto de software', 1)
INSERT [dbo].[tbRoles] ([idRol], [nombre], [idMetodologia]) VALUES (3, N'Desarrollador', 1)
GO
SET IDENTITY_INSERT [dbo].[tbSolicitudesCambio] ON 

SET IDENTITY_INSERT [dbo].[tbSolicitudesCambio] OFF
GO
SET IDENTITY_INSERT [dbo].[tbTareas] ON 

INSERT [dbo].[tbTareas] ([idTareas], [idUsuario], [idProyectoElemento], [nombre], [descripcion], [estado]) VALUES (1, 2, 47, N'Buscar informacion ', N'Buscar informacion ', N'Finalizado')
INSERT [dbo].[tbTareas] ([idTareas], [idUsuario], [idProyectoElemento], [nombre], [descripcion], [estado]) VALUES (2, 4, 48, N'sacar 3 historias de usuario', NULL, N'Finalizado')
INSERT [dbo].[tbTareas] ([idTareas], [idUsuario], [idProyectoElemento], [nombre], [descripcion], [estado]) VALUES (3, 1, 49, N'elemento 49', NULL, N'Finalizado')
SET IDENTITY_INSERT [dbo].[tbTareas] OFF
GO
SET IDENTITY_INSERT [dbo].[tbUsuarios] ON 

INSERT [dbo].[tbUsuarios] ([idUsuario], [usuario], [contrasena], [nombre], [apellido], [email], [fechaCreacion], [estado]) VALUES (1, N'albert', N'1234', N'Albert', N'Apaza', N'albert@gmail.com', CAST(N'2025-05-29' AS Date), 1)
INSERT [dbo].[tbUsuarios] ([idUsuario], [usuario], [contrasena], [nombre], [apellido], [email], [fechaCreacion], [estado]) VALUES (2, N'erick', N'1234', N'Erick', N'Churacutipa', N'erick@gmail.com', CAST(N'2025-05-29' AS Date), 1)
INSERT [dbo].[tbUsuarios] ([idUsuario], [usuario], [contrasena], [nombre], [apellido], [email], [fechaCreacion], [estado]) VALUES (3, N'ricardo', N'1234', N'Ricardo', N'Cutipa', N'ricardo@gmail.com', CAST(N'2025-06-02' AS Date), 1)
SET IDENTITY_INSERT [dbo].[tbUsuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbUsuari__9AFF8FC60D1D767A]    Script Date: 10/06/2025 06:18:03 p. m. ******/
ALTER TABLE [dbo].[tbUsuarios] ADD UNIQUE NONCLUSTERED 
(
	[usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbUsuari__AB6E6164336C577D]    Script Date: 10/06/2025 06:18:03 p. m. ******/
ALTER TABLE [dbo].[tbUsuarios] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbDocumentos] ADD  DEFAULT ('Pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[tbDocumentos] ADD  DEFAULT (getdate()) FOR [fechaSubida]
GO
ALTER TABLE [dbo].[tbProyectoElemento] ADD  DEFAULT ('Pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[tbProyectos] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[tbSolicitudesCambio] ADD  DEFAULT ('R-GCSW001') FOR [codigoDocumentoSolicitd]
GO
ALTER TABLE [dbo].[tbSolicitudesCambio] ADD  DEFAULT ((1)) FOR [pasoActualProceso]
GO
ALTER TABLE [dbo].[tbSolicitudesCambio] ADD  DEFAULT ('Propuesto') FOR [estadoSolicitud]
GO
ALTER TABLE [dbo].[tbTareas] ADD  DEFAULT ('Pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[tbUsuarios] ADD  DEFAULT (CONVERT([date],getdate())) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[tbUsuarios] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[tbCiclos]  WITH CHECK ADD FOREIGN KEY([idMetodologia])
REFERENCES [dbo].[tbMetodologias] ([idMetodologia])
GO
ALTER TABLE [dbo].[tbDocumentos]  WITH CHECK ADD FOREIGN KEY([codCiclo])
REFERENCES [dbo].[tbCiclos] ([codCiclo])
GO
ALTER TABLE [dbo].[tbDocumentos]  WITH CHECK ADD FOREIGN KEY([idProyecto])
REFERENCES [dbo].[tbProyectos] ([idProyecto])
GO
ALTER TABLE [dbo].[tbDocumentos]  WITH CHECK ADD FOREIGN KEY([idTipoDocumento])
REFERENCES [dbo].[tbTiposDocumento] ([idTipoDocumento])
GO
ALTER TABLE [dbo].[tbDocumentos]  WITH CHECK ADD FOREIGN KEY([idUsuarioSubida])
REFERENCES [dbo].[tbUsuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[tbProyectoCiclo]  WITH CHECK ADD FOREIGN KEY([codCiclo])
REFERENCES [dbo].[tbCiclos] ([codCiclo])
GO
ALTER TABLE [dbo].[tbProyectoCiclo]  WITH CHECK ADD FOREIGN KEY([idProyecto])
REFERENCES [dbo].[tbProyectos] ([idProyecto])
GO
ALTER TABLE [dbo].[tbProyectoElemento]  WITH CHECK ADD FOREIGN KEY([codCiclo])
REFERENCES [dbo].[tbCiclos] ([codCiclo])
GO
ALTER TABLE [dbo].[tbProyectoElemento]  WITH CHECK ADD FOREIGN KEY([idElemento])
REFERENCES [dbo].[tbElementos] ([idElemento])
GO
ALTER TABLE [dbo].[tbProyectoElemento]  WITH CHECK ADD FOREIGN KEY([idProyecto])
REFERENCES [dbo].[tbProyectos] ([idProyecto])
GO
ALTER TABLE [dbo].[tbProyectoElemento]  WITH CHECK ADD FOREIGN KEY([idRol])
REFERENCES [dbo].[tbRoles] ([idRol])
GO
ALTER TABLE [dbo].[tbProyectos]  WITH CHECK ADD FOREIGN KEY([codCicloActual])
REFERENCES [dbo].[tbCiclos] ([codCiclo])
GO
ALTER TABLE [dbo].[tbProyectos]  WITH CHECK ADD FOREIGN KEY([idMetodologia])
REFERENCES [dbo].[tbMetodologias] ([idMetodologia])
GO
ALTER TABLE [dbo].[tbProyectos]  WITH CHECK ADD FOREIGN KEY([idUsuarioCreador])
REFERENCES [dbo].[tbUsuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[tbProyectoUsuario]  WITH CHECK ADD FOREIGN KEY([idProyecto])
REFERENCES [dbo].[tbProyectos] ([idProyecto])
GO
ALTER TABLE [dbo].[tbProyectoUsuario]  WITH CHECK ADD FOREIGN KEY([idRol])
REFERENCES [dbo].[tbRoles] ([idRol])
GO
ALTER TABLE [dbo].[tbProyectoUsuario]  WITH CHECK ADD FOREIGN KEY([idUsuario])
REFERENCES [dbo].[tbUsuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[tbRoles]  WITH CHECK ADD FOREIGN KEY([idMetodologia])
REFERENCES [dbo].[tbMetodologias] ([idMetodologia])
GO
ALTER TABLE [dbo].[tbSolicitudesCambio]  WITH CHECK ADD FOREIGN KEY([idElementoAfectado])
REFERENCES [dbo].[tbProyectoElemento] ([idProyectoElemento])
GO
ALTER TABLE [dbo].[tbSolicitudesCambio]  WITH CHECK ADD FOREIGN KEY([idProyecto])
REFERENCES [dbo].[tbProyectos] ([idProyecto])
GO
ALTER TABLE [dbo].[tbSolicitudesCambio]  WITH CHECK ADD FOREIGN KEY([idUsuarioSolicitante])
REFERENCES [dbo].[tbUsuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[tbSolicitudesCambio]  WITH CHECK ADD FOREIGN KEY([idUsuarioReceptor])
REFERENCES [dbo].[tbUsuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[tbTareas]  WITH CHECK ADD FOREIGN KEY([idProyectoElemento])
REFERENCES [dbo].[tbProyectoElemento] ([idProyectoElemento])
GO
ALTER TABLE [dbo].[tbTareas]  WITH CHECK ADD FOREIGN KEY([idUsuario])
REFERENCES [dbo].[tbUsuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[tbTiposDocumento]  WITH CHECK ADD FOREIGN KEY([codCiclo])
REFERENCES [dbo].[tbCiclos] ([codCiclo])
GO
ALTER TABLE [dbo].[tbDocumentos]  WITH CHECK ADD CHECK  (([estado]='Finalizado' OR [estado]='En Proceso' OR [estado]='Pendiente'))
GO
ALTER TABLE [dbo].[tbProyectoElemento]  WITH CHECK ADD CHECK  (([estado]='Finalizado' OR [estado]='En Proceso' OR [estado]='Pendiente'))
GO
ALTER TABLE [dbo].[tbSolicitudesCambio]  WITH CHECK ADD CHECK  (([estadoSolicitud]='Cancelado' OR [estadoSolicitud]='Implantado' OR [estadoSolicitud]='Planificado' OR [estadoSolicitud]='Aprobado' OR [estadoSolicitud]='Propuesto'))
GO
ALTER TABLE [dbo].[tbTareas]  WITH CHECK ADD CHECK  (([estado]='Finalizado' OR [estado]='En Proceso' OR [estado]='Pendiente'))
GO
