@model G03_ProyectoGestion.Models.tbProyectos
@{
    ViewBag.Title = "Proyecto RUP";
}

<h2>Proyecto con metodología RUP</h2>
<p><strong>Nombre:</strong> @Model.nombreProyecto</p>
<p><strong>Descripción:</strong> @Model.descripcionProyecto</p>
<p><strong>Fecha Inicio:</strong> @Model.fechaInicio?.ToShortDateString()</p>
<p><strong>Fecha Fin:</strong> @Model.fechaFin?.ToShortDateString()</p>
